---
import NavLink from "./elements/NavLink.astro";
---

<header class=" border-b-2  shadow">
    <nav class="flex justify-center flex-wrap gap-x-6 py-6 text-lg ">
        <NavLink href="#home">Accueil</NavLink>
        <NavLink href="#skills">Mes compétences</NavLink>
        <NavLink href="#my-studies">Mon parcours</NavLink>
        <NavLink href="#contact-me">Me contacter</NavLink>
    </nav>
</header>
