---
import Section from "./elements/Section.astro";

---

<Section id="home">
    <p class="text-3xl">Bonjour, je suis m'appelle Samy Dahi et je suis développeur web full stack.</p>
    <p class="text-lg"> Et je suis disponible pour réaliser vos projets concernant le développement web.</p>
</Section>