---
import Section from "./elements/Section.astro";

---

<Section id="home">
    <!-- <img src="" alt="me"> -->
    <p class="text-4xl font-montserrat ">Bonjour, je suis m'appelle Samy Dahi et je suis développeur web full stack.</p>
    <p class="text-xl"> Et je suis disponible pour réaliser vos projets concernant le développement web.</p>
</Section>
