---
import BlueLink from "./elements/BlueLink.astro";
import Section from "./elements/Section.astro"
---
<Section id="my-studies">
    <h2 class="text-4xl">Mon parcours</h2>
    <p class="text-xl">
        Je n'ai fait aucune étude liée à l'informatique, j'ai appris tout seul, sur le Web, notamment grâce à ces ressources:
        <BlueLink href="https://grafikart.fr/">Grafikart</BlueLink>, 
        <BlueLink href="https://www.youtube.com/c/WebDevSimplified">Web Dev Simplified</BlueLink>.
        Cependant, je suis actuellement en études dans des filières scientifiques donc j'ai tout de même acquéri un esprit logique.
    </p>
</Section>